$primary: #ed1f29;
$secondary: #fff;

$display-font-weight: 800;

$border-radius: 1.5rem;
$border-radius-lg: 25rem;

$input-btn-padding-y: 0.5rem;
$input-btn-padding-x: 2rem;

$input-btn-padding-y-lg: 0.75rem;
$input-btn-padding-x-lg: 3.25rem;

$box-shadow-sm: 0 4px 8px rgba($primary, 0.36);
$box-shadow: 0 9px 16px rgba($primary, 0.24);
