#contacts {
	strong {
		font-weight: bold;
	}
	form {
		display: flex;
		flex-direction: column;
		align-items: center;

		div {
			width: 100%;

			input,
			textarea {
				transition: all 0.2s ease-in-out;

				&:not(:placeholder-shown) {
					color: $black;
					background-color: #fff;
					outline: 0;
					box-shadow: $input-btn-focus-box-shadow;
				}
			}

			textarea {
				min-height: 10rem;
				resize: none;
				overflow: auto;
			}
		}
	}
}
