.cart {
	.hr-dashed {
		margin: 20px 0;
		padding: 0;
		height: 0;
		border: none;
		border-top: 1px dashed #ddd;
	}

	.cart-list-wrapper {
		position: fixed;
		left: 0;
		width: 100%;
		background: white;
		margin-top: 30px;

		.cart-list {
			height: 100vh;
			width: 80%;
			margin: auto;
			transition: all 0.2s ease-in-out;

			.cart-list-empty {
				text-align: center;
			}

			.cart-product-wrapper {
				.btn-remove {
					width: 40px;
					height: 40px;
					border-radius: 50%;
				}

				.btn-count {
					border: none;
					background-color: transparent;
				}

				table {

					td {
						text-align: center;
						width: 20%;
					}
				}

				img {
					width: 200px;
				}
			}

			.cart-total-price {
				float: right;
			}

			.btn-order-wrapper {
				float: right;
			}
		}
	}
}

.btn-cart {
	cursor: pointer;
}

.modal {
	display: block;
	background: rgba(0, 0, 0, 0.5);
	-webkit-backdrop-filter: blur(8px);
	backdrop-filter: blur(8px);

	.modal-form {
		width: 400px;
		background-color: white;
		padding: 10px;
		margin: 0;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		.modal-footer {
			justify-content: center;
		}
	}
}

.alert-container {
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9999 !important;
	cursor: pointer;

	.alert {
		opacity: 0.9;
	}
	.alert:hover {
		opacity: 1;
	}
}
